################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PSArcTool/v14
/PSArcTool/obj
/PSArcTool/bin/Debug

/PSArcTool/bin/Release
